{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>About Us</h1>
          <p class="mb-4">We will give the dream furniture which you need to make your house beautiful at your budget.
          </p>
          <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="../templetes/../templetes/images/couch.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>Decorate your home with our furniture, so your home doesn't feel empty.</p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="../templetes/../templetes/images/truck.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Fast &amp; Free Shipping</h3>
              <p>1000+ stores over India so you don't have to wait much.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="../templetes/images/bag.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Easy to Rent</h3>
              <p>Your favorite furniture at our doorstep.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="../templetes/images/support.svg" alt="Image" class="img-fluid">
              </div>
              <h3>24/7 Support</h3>
              <p>Rent at your convenience.</p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="../templetes/../templetes/images/return.svg" alt="Image" class="img-fluid">
              </div>
              <h3>Hassle-Free Returns</h3>
              <p>No questions asked policy.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="../templetes/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-section">
  <div class="container relative">
    <div class="sofa-img">
      <img src="../templetes/images/sofa.png" alt="Image" class="img-fluid">
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center"><span class="me-1"><img src="../templetes/images/envelope-outline.svg"
                alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span>
          </h3>

          <form action="#" class="row g-3">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your name">
            </div>
            <div class="col-auto">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="col-auto">
              <button class="btn btn-primary">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <p class="mb-4">Tired of commitment? Spruce up your space without the burden of ownership! Furni offers a
          convenient and flexible way to furnish your home. Browse our curated selection of stylish furniture, from
          comfy sofas to sleek desks, and rent exactly what you need for as long as you need it.</p>

        <ul class="list-unstyled custom-social">
          <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
          <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Knowledge base</a></li>
              <li><a href="#">Live chat</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Our team</a></li>
              <li><a href="#">Leadership</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}